@import '../variable.less';
.top{
  line-height: 34px;
  height: 34px;
  width:100%;
  z-index: 10;
  background: linear-gradient(to bottom, #bebfbf, #fbfbfb);
  display: flex;
  justify-content: center;
  align-items: center;
}
.topCont{
  height:100%;
  width:@commonWidth;
}
.topleft{
  float:left;
  font-size: 12px;
  color: #666666;

}
.topright{
  float:right;
  font-size: 12px;
  color: #666666;
}
